<div class="main">
  <div class="search-bar">
    <div class="search">
      <div class="search-text">Search</div>
      <input type="text" placeholder="Search" ng-model="searchText" />
    </div>
    <div class="title">
      <div>Sl.no</div>
      <div>Symbol</div>
      <div>Company</div>
      <div>Market Capitalisation</div>
    </div>
  </div>
  <!-- <table>
    <thead>
      <tr>
        <th>Sl.no</th>
        <th>Symbol</th>
        <th>Company Name</th>
        <th>Market Capitalisation</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in companyDetails | filter:search">
        <th>{{$index}}</th>
        <th>{{item.name}}</th>
        <th>{{item.symbol}}</th>
        <th>{{item.stock}}</th>
      </tr>
    </tbody>
    </table> -->
  <div class="list">
    <div class="companies" ng-repeat="item in companyDetails | filter:search">
      <a ui-sref="home.inner({id:item.symbol})" style="cursor: pointer">
        <div class="index">{{$index+1}}</div>
        <div class="symbol">{{item.symbol}}</div>
        <div class="name">{{item.name}}</div>
        <div class="stock">{{item.stock}}</div>
      </a>
    </div>
  </div>
</div>
